### Preprocessing para el modelo de propensión del producto : "debit_card"

In [1]:
#Importamos librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Datasets\csv_merged\df_merge_pickle_V2.pkl")

In [3]:
df.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount
0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES,ES,29,H,35,...,0,0,0,0,0,0,0,0,0,0
1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,0,0
2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO,ES,13,V,23,...,0,0,0,0,0,0,0,0,0,0
3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO,ES,50,H,22,...,0,0,0,0,0,0,0,0,0,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO,ES,50,V,23,...,0,0,0,0,0,0,0,0,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5962924 entries, 0 to 5962923
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pk_cid                  int64
 1   pk_partition            datetime64[ns]
 2   entry_date              object
 3   entry_channel           object
 4   active_customer         float64
 5   segment                 object
 6   country_id              object
 7   region_code             int64
 8   gender                  object
 9   age                     int8
 10  deceased                int8
 11  salary                  float64
 12  age_group               int8
 13  short_term_deposit      int8
 14  loans                   int8
 15  mortgage                int8
 16  funds                   int8
 17  securities              int8
 18  long_term_deposit       int8
 19  em_account_pp           int8
 20  credit_card             int8
 21  payroll                 int8
 22  pension_plan            int8
 23  payroll_account         int8
 24  emc_account             int8
 25  debit_card              int8
 26  em_account_p            int8
 27  em_acount               int8
 28  tenencia                int8
 29  sale_loans              int8
 30  sale_mortgage           int8
 31  sale_funds              int8
 32  sale_securities         int8
 33  sale_long_term_deposit  int8
 34  sale_em_account_pp      int8
 35  sale_credit_card        int8
 36  sale_payroll            int8
 37  sale_pension_plan       int8
 38  sale_payroll_account    int8
 39  sale_emc_account        int8
 40  sale_debit_card         int8
 41  sale_em_account_p       int8
 42  sale_em_acount          int8
dtypes: datetime64[ns](1), float64(2), int64(2), int8(33), object(5)
memory usage: 688.1+ MB

Nuestra Target tenemos que hacer mover los y de +1

In [5]:
# Convertir la columna 'pk_partition'  en "date time"
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [6]:
# Ordenar el dataset por el 'pk_cid' y el 'pk_partition' en orden ascendente
df.sort_values(by=['pk_cid', 'pk_partition'], inplace=True)

# Crear una nueva columna con el "sale_debit_card" shifted
df['M+1_sale_debit_card'] = df.groupby('pk_cid')['sale_debit_card'].apply(lambda x: x.shift(-1))

Controlamos los resultados

In [7]:
df[df['sale_debit_card'] == 1][['pk_cid', 'pk_partition', 'debit_card']].head(20)

         pk_cid pk_partition  debit_card
2171487   17457   2018-09-28           1
2962562   17457   2018-11-28           1
4029237   17457   2019-01-28           1
4876041   17457   2019-03-28           1
5523398   17457   2019-05-28           1
237928    17970   2018-01-28           1
237920    20333   2018-01-28           1
1222860   21719   2018-05-28           1
5134245   22212   2019-04-28           1
237931    26163   2018-01-28           1
237901    29484   2018-01-28           1
241190    31624   2018-02-28           1
483778    32376   2018-03-28           1
1474891   32376   2018-06-28           1
3628190   32560   2018-12-28           1
4876122   35849   2019-03-28           1
2943572   36148   2018-10-28           1
729019    39997   2018-04-28           1
5132992   41264   2019-04-28           1
1479600   43520   2018-07-28           1

In [8]:
df[df['pk_cid'] == 36148]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_debit_card,sale_em_account_p,sale_em_acount,M+1_sale_debit_card
237914,36148,2018-01-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,1,0,0,0,0,0.0
241180,36148,2018-02-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
483758,36148,2018-03-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
729014,36148,2018-04-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
1222844,36148,2018-05-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
1474883,36148,2018-06-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,1,1,0,0,0,0,0,0.0
1479619,36148,2018-07-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
2168140,36148,2018-08-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
2171504,36148,2018-09-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,1,1,0,0,0,0,0,1.0
2943572,36148,2018-10-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,1,0,0,0.0
2977180,36148,2018-11-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
3628223,36148,2018-12-28,2016-12-16,KBG,1.0,01 - TOP,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
4029248,36148,2019-01-28,2016-12-16,KBG,1.0,02 - PARTICULARES,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
4480667,36148,2019-02-28,2016-12-16,KBG,1.0,02 - PARTICULARES,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
4876117,36148,2019-03-28,2016-12-16,KBG,1.0,02 - PARTICULARES,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
5132937,36148,2019-04-28,2016-12-16,KBG,1.0,02 - PARTICULARES,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,0.0
5523480,36148,2019-05-28,2016-12-16,KBG,1.0,02 - PARTICULARES,ES,28,V,58,...,0,0,0,0,0,0,0,0,0,NaN

Vemos con las ventas shifted se ponen en el mes menos 1

In [9]:
#Eliminamos la columna de venta

df.drop('sale_debit_card', axis=1, inplace=True)

Sacamos la ultima partition para el futuro predict

In [10]:
df_lp = df[df['pk_partition'] == '2019-05-28']

Eliminamos los clientes que tienen el producto contratado en la ultima predicción :

In [11]:
df_lp = df_lp[df_lp['debit_card'] == 0]

In [12]:
df_lp.to_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Project Files\Propensión compra\05_df_preprocessed_ToPredict_pickles\V2_debit_card_last_partition.pkl")

Guardamos el resto de filas

In [13]:
df = df[~(df['pk_partition'] == '2019-05-28')]

In [14]:
df.tail()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_em_account_p,sale_em_acount,M+1_sale_debit_card
5100674,1548202,2019-04-28,2019-04-29,UNKNOWN,0.0,UNKNOWN,ES,28,V,22,...,0,0,0,0,0,0,0,0,0,0.0
5100675,1548203,2019-04-28,2019-04-29,UNKNOWN,0.0,UNKNOWN,ES,3,V,51,...,0,0,0,0,0,0,0,0,0,0.0
5100676,1548204,2019-04-28,2019-04-29,UNKNOWN,0.0,UNKNOWN,ES,8,V,54,...,0,0,0,0,0,0,0,0,0,0.0
5100677,1548206,2019-04-28,2019-04-29,UNKNOWN,0.0,UNKNOWN,ES,28,H,40,...,0,0,0,0,0,0,0,0,0,0.0
5100678,1548207,2019-04-28,2019-04-29,UNKNOWN,0.0,UNKNOWN,ES,8,V,32,...,0,0,0,0,0,0,0,0,0,0.0

In [15]:
df.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,country_id,region_code,gender,age,...,sale_long_term_deposit,sale_em_account_pp,sale_credit_card,sale_payroll,sale_pension_plan,sale_payroll_account,sale_emc_account,sale_em_account_p,sale_em_acount,M+1_sale_debit_card
1479563,15891,2018-07-28,2018-07-28,KAT,1.0,UNKNOWN,ES,28,H,59,...,0,0,0,0,0,0,0,0,0,0.0
2168122,15891,2018-08-28,2018-07-28,KAT,0.0,02 - PARTICULARES,ES,28,H,59,...,0,0,0,0,0,0,0,0,0,NaN
2962973,16063,2018-11-28,2018-11-19,KAT,1.0,UNKNOWN,ES,28,H,62,...,0,0,0,0,0,0,0,0,0,0.0
3628236,16063,2018-12-28,2018-11-19,KAT,1.0,02 - PARTICULARES,ES,28,H,62,...,0,0,0,0,0,0,0,0,0,0.0
4028169,16063,2019-01-28,2018-11-19,KAT,1.0,02 - PARTICULARES,ES,28,H,62,...,0,0,0,0,0,0,0,0,0,0.0

In [16]:
df.shape

(5519929, 43)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5519929 entries, 1479563 to 5100678
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   pk_cid                  int64
 1   pk_partition            datetime64[ns]
 2   entry_date              object
 3   entry_channel           object
 4   active_customer         float64
 5   segment                 object
 6   country_id              object
 7   region_code             int64
 8   gender                  object
 9   age                     int8
 10  deceased                int8
 11  salary                  float64
 12  age_group               int8
 13  short_term_deposit      int8
 14  loans                   int8
 15  mortgage                int8
 16  funds                   int8
 17  securities              int8
 18  long_term_deposit       int8
 19  em_account_pp           int8
 20  credit_card             int8
 21  payroll                 int8
 22  pension_plan            int8
 23  payroll_account         int8
 24  emc_account             int8
 25  debit_card              int8
 26  em_account_p            int8
 27  em_acount               int8
 28  tenencia                int8
 29  sale_loans              int8
 30  sale_mortgage           int8
 31  sale_funds              int8
 32  sale_securities         int8
 33  sale_long_term_deposit  int8
 34  sale_em_account_pp      int8
 35  sale_credit_card        int8
 36  sale_payroll            int8
 37  sale_pension_plan       int8
 38  sale_payroll_account    int8
 39  sale_emc_account        int8
 40  sale_em_account_p       int8
 41  sale_em_acount          int8
 42  M+1_sale_debit_card     float64
dtypes: datetime64[ns](1), float64(3), int64(2), int8(32), object(5)
memory usage: 673.8+ MB

# Data Cleaning

In [18]:
df.isna().sum()

pk_cid                        0
pk_partition                  0
entry_date                    0
entry_channel                 0
active_customer               0
segment                       0
country_id                    0
region_code                   0
gender                        0
age                           0
deceased                      0
salary                        0
age_group                     0
short_term_deposit            0
loans                         0
mortgage                      0
funds                         0
securities                    0
long_term_deposit             0
em_account_pp                 0
credit_card                   0
payroll                       0
pension_plan                  0
payroll_account               0
emc_account                   0
debit_card                    0
em_account_p                  0
em_acount                     0
tenencia                      0
sale_loans                    0
sale_mortgage                 0
sale_funds                    0
sale_securities               0
sale_long_term_deposit        0
sale_em_account_pp            0
sale_credit_card              0
sale_payroll                  0
sale_pension_plan             0
sale_payroll_account          0
sale_emc_account              0
sale_em_account_p             0
sale_em_acount                0
M+1_sale_debit_card       13378
dtype: int64

In [19]:
sum(df.isna().sum())

13378

Tenemos Nan en la columna target que debemos eliminar

In [20]:
df.dropna(inplace=True)

Cambiamos el tipo de la target a int8 ahora que no hay nulos

In [21]:
df['M+1_sale_debit_card'] = df['M+1_sale_debit_card'].astype('int8')

In [22]:
# Check duplicados
df.duplicated().sum()

0

In [23]:
df.set_index(['pk_cid', 'pk_partition'], inplace=True)

# Encoding Categoricos

In [24]:
#Columnas para el Encoding

enc_ = list(df.select_dtypes(include=['object','category']).columns)
enc_

['entry_date', 'entry_channel', 'segment', 'country_id', 'gender']

In [25]:
for i in list(df[enc_].columns):
  print(i)
  print('Unique:',df[i].nunique())
  print(df[i].value_counts(normalize=True),'\n')

entry_date
Unique: 1465
2017-07-28    0.009792
2017-10-03    0.009237
2017-08-04    0.007795
2016-10-14    0.006928
2016-08-03    0.005700
                ...
2015-07-14    0.000002
2016-05-11    0.000002
2016-08-17    0.000002
2018-05-31    0.000001
2017-05-01    0.000001
Name: entry_date, Length: 1465, dtype: float64

entry_channel
Unique: 67
KHE    5.298171e-01
KFC    1.508441e-01
KHQ    9.337424e-02
KAT    7.066892e-02
KHK    3.873677e-02
           ...
KBY    1.816019e-06
KAI    1.816019e-06
KEJ    1.271213e-06
KDA    3.632038e-07
KFP    1.816019e-07
Name: entry_channel, Length: 67, dtype: float64

segment
Unique: 4
03 - UNIVERSITARIO    0.656055
02 - PARTICULARES     0.304833
UNKNOWN               0.022699
01 - TOP              0.016414
Name: segment, dtype: float64

country_id
Unique: 41
ES    9.996208e-01
GB    7.427517e-05
FR    3.813639e-05
DE    3.377795e-05
CH    3.250674e-05
US    3.214353e-05
BR    1.470975e-05
BE    1.343854e-05
VE    1.343854e-05
IE    1.162252e-05
MX    9.624900e-06
AT    8.716890e-06
AR    8.535288e-06
PL    8.172084e-06
IT    7.627279e-06
MA    5.811260e-06
CL    5.084853e-06
CN    4.721649e-06
CA    3.813639e-06
DO    2.905630e-06
LU    2.905630e-06
CM    2.905630e-06
ET    2.905630e-06
SA    2.905630e-06
CI    2.905630e-06
QA    2.905630e-06
MR    2.905630e-06
SN    2.905630e-06
NO    2.905630e-06
RU    2.905630e-06
CO    2.905630e-06
GA    2.905630e-06
GT    2.905630e-06
SE    2.542426e-06
DJ    1.816019e-06
PT    1.816019e-06
JM    1.816019e-06
RO    1.452815e-06
HU    1.271213e-06
DZ    1.089611e-06
PE    5.448056e-07
Name: country_id, dtype: float64

gender
Unique: 2
H    0.518237
V    0.481763
Name: gender, dtype: float64

Para Encoding a traves de .map()

- country_id (0.99% de nuestros clientes son de España, vamos a transformar ES en 1 y el resto en 0)
- entry_channel (KHE KHQ KFC son 74% de los clientes)

In [26]:
# Encoding entry_channel
encoder_map = {'KHE': 1, 'KHQ': 2, 'KFC': 3}

In [27]:
df['encoded_entry_channel'] = df['entry_channel'].map(encoder_map).fillna(4)

In [28]:
# Encoding country_id
encoder_map2 = {'ES': 1}

In [29]:
df['encoded_country_id'] = df['country_id'].map(encoder_map2).fillna(0)

In [30]:
df.drop(['entry_channel', 'country_id'], axis=1, inplace=True)
df.columns

Index(['entry_date', 'active_customer', 'segment', 'region_code', 'gender',
       'age', 'deceased', 'salary', 'age_group', 'short_term_deposit', 'loans',
       'mortgage', 'funds', 'securities', 'long_term_deposit', 'em_account_pp',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'emc_account', 'debit_card', 'em_account_p', 'em_acount', 'tenencia',
       'sale_loans', 'sale_mortgage', 'sale_funds', 'sale_securities',
       'sale_long_term_deposit', 'sale_em_account_pp', 'sale_credit_card',
       'sale_payroll', 'sale_pension_plan', 'sale_payroll_account',
       'sale_emc_account', 'sale_em_account_p', 'sale_em_acount',
       'M+1_sale_debit_card', 'encoded_entry_channel', 'encoded_country_id'],
      dtype='object')

Para One Hot Encoding
- gender
- segment
- entry_date (nos elimineremos el "day" para quedarnos con el "month-date")

Modificamos las variables de la columna 'entry-date' para quedarnos con mm-yyy

In [31]:
# Convert 'entry_date' column to datetime type
df['entry_date'] = pd.to_datetime(df['entry_date'])

# Extract month and year and create a new column
df['month_year_entry'] = df['entry_date'].dt.strftime('%Y-%m')

In [32]:
df.drop(['entry_date'], axis=1, inplace=True)

In [33]:
ohe_cols = list(df.select_dtypes(include=['object','category']).columns)
ohe_cols

['segment', 'gender', 'month_year_entry']

In [34]:
# Aplicamos One Hot Encoding en los categoricos pendientes
df_enc = pd.get_dummies(df, columns=ohe_cols)
df_enc.shape

(5506551, 96)

# Variables altamente correlacionadas

In [35]:
def highly_correlated(df_enc, target, threshold):
    col_corr = list()
    colnames = list()
    rownames = list()
    y = df[target]
    X = df[df.columns[df.columns != target]]
    corr_matrix = X.corr().abs()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= threshold) and (corr_matrix.columns[j] not in col_corr):
                colnames.append(corr_matrix.columns[i]) # getting the name of column
                rownames.append(corr_matrix.index[j])
                col_corr.append(corr_matrix.iloc[i, j])
    Z = pd.DataFrame({'F1':colnames,
                      'F2':rownames,
                      'corr_F1_F2':col_corr,
                      'corr_F1_target': [np.abs(np.corrcoef(X[i],y)[0,1]) for i in colnames],
                      'corr_F2_target': [np.abs(np.corrcoef(X[i],y)[0,1]) for i in rownames]
                      })
    Z['F_to_delete'] = rownames
    Z['F_to_delete'][Z['corr_F1_target'] < Z['corr_F2_target']] = Z['F1'][Z['corr_F1_target'] < Z['corr_F2_target']]

    return Z

In [36]:
highly_corr = highly_correlated(df_enc, 'M+1_sale_debit_card', 0.95)
highly_corr

,F1,F2,corr_F1_F2,corr_F1_target,corr_F2_target,F_to_delete
0,pension_plan,payroll,0.971189,0.053942,0.053397,payroll
1,sale_pension_plan,sale_payroll,0.955248,0.038177,0.037881,sale_payroll

In [37]:
col_del_high_corr = list(highly_corr['F_to_delete'])

In [38]:
df_enc.drop(col_del_high_corr, axis=1, inplace=True)
df_enc.shape

(5506551, 94)

# Baja Varianza

In [39]:
target = 'M+1_sale_debit_card'
features = df_enc.columns[df_enc.columns != target]
len(features)

93

In [41]:
from sklearn.feature_selection import VarianceThreshold
vt = VarianceThreshold(threshold = 0.01) #Eliminamos columnas donde el 99% de los valores son iguales
vt.fit(df_enc[features])

cols_lowvar = features[vt.get_support()==False]

print('Low variance features:\n', cols_lowvar.to_list())

Low variance features:
 ['deceased', 'short_term_deposit', 'loans', 'mortgage', 'funds', 'securities', 'em_account_pp', 'em_account_p', 'sale_loans', 'sale_mortgage', 'sale_funds', 'sale_securities', 'sale_long_term_deposit', 'sale_em_account_pp', 'sale_credit_card', 'sale_pension_plan', 'sale_payroll_account', 'sale_emc_account', 'sale_em_account_p', 'encoded_country_id', 'month_year_entry_2015-01', 'month_year_entry_2015-02', 'month_year_entry_2015-03', 'month_year_entry_2015-04', 'month_year_entry_2015-05', 'month_year_entry_2015-06', 'month_year_entry_2016-01', 'month_year_entry_2016-02', 'month_year_entry_2016-03', 'month_year_entry_2016-04', 'month_year_entry_2016-05', 'month_year_entry_2016-06', 'month_year_entry_2017-02', 'month_year_entry_2017-03', 'month_year_entry_2017-04', 'month_year_entry_2017-05', 'month_year_entry_2017-06', 'month_year_entry_2018-03', 'month_year_entry_2018-04', 'month_year_entry_2018-05', 'month_year_entry_2018-06', 'month_year_entry_2018-12', 'month_year_entry_2019-01', 'month_year_entry_2019-02', 'month_year_entry_2019-03', 'month_year_entry_2019-04']

In [42]:
df_enc.drop(columns=cols_lowvar, inplace=True)
df_enc.shape

(5506551, 48)

In [43]:
df_enc.to_pickle(r"G:\Mi unidad\Master Data Science - Nuclio Digital School\Proyecto Final de Master\Capstone Project\EasyMoney\Project Files\Propensión compra\04_df_preprocessed_ToModel_pickles\V2_debit_card_preprocessing_model_propension_compra_fulldf.pkl")